@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Bold.ttf");
    font-weight: bold;
}
*{
    font-family: "Poppins";
}

body{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menu{
    width: 16%;
    background-color: white;
    border-right: 1px solid rgb(216, 216, 216);

    .fun{
        width: 95%;
        margin: auto;
    }
}

.page{
    width: 84%;
    background-color: #F7F7FB;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.logo{
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 10%;
    margin-bottom: 20%;
}

.main{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10%;


    .bouton_add{
        width: 80%;
        margin: auto;
        padding: 10px 0px;
        border-radius: 10px;

        i{
            margin-right: 20px;
        }
    }

    a{
        color: black;
        width: 80%;
        margin: auto;
        margin-top: 5px;
        border-radius: 10px;
        display: block;
        padding: 10px 0px;
        transition: 0.2s ease all;
        text-decoration: none;
        
        i{
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    a:hover, .actuel{
        background-color: #008AF4;
        color: white;
        transition: 0.2s ease all;
    }
}



header{
    background-color: white;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 5% 10px 5%;
    height: fit-content;

    & .search_input{
        display: flex;
        flex-direction: row;
        /* border: 1px solid #b1b1b1; Au clic #93d0ff */
        border: 1px solid transparent;
        overflow: hidden;
        width: fit-content; /* Au clic il va passer à 500px*/
        background-color: #F6FBFF;
        border-radius: 5px;
        transition: 0.5s ease all;

        div{
            width: 40px;

            i{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        input{
            border: none;
            padding: 10px 10px;
            background-color: transparent;
            font-size: 0.95em;
            transition: 0.5s ease all;
        }
        input:focus{
            width: 65%;
            outline: none;
            transition: 0.5s ease all;
        }
    }

    & .search_input:hover{
        border: 1px solid #93d0ff;
        background-color: #d9eeff;
        transition: 0.5s ease all;
    }

    h4{
        margin: 0;
    }
}




.contain{
    padding: 5px 5%;
}






.alert-box{
    border-radius: 10px;
    background-color: white;
    width: 20%;
    padding: 10px 20px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 0.9em;
    transition: 0.3s ease all;
    z-index: 200;

    i{
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 20px;
        font-size: 2em;
    }
    p{
        margin: 0;
    }

    span{
        color: grey;
        font-size: 0.7em;
    }


    .annuler{
        text-decoration: underline;
        cursor: pointer;
        width: fit-content;
        display: inline-block;
        margin: auto;
    }
}



.success{
    color: green;
    background-color: #CEFFCD;
}

.echec{
    color: #b02d2d;
    background-color: #FFDEDE;
}

.info{
    background-color: rgb(241, 241, 241);
    color: rgb(47, 47, 47);
}



.bg_flou{
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.212);
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    transition: 0.3s ease all;
    display: none;
}

.box-form{
    z-index: 10;
    border-radius: 20px;
    padding: 20px 30px;
    background-color: white;
    position: absolute;
    top: -50%;
    left: 50%;
    scale: 0.05;
    transform: translate(-50%, -50%);
    width: 30%;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease all;

    h4{
        color: #008AF4;
        margin-bottom: 40px;

        i{
            float: right;
            color: #d72a2a;
        }
        i:hover{
            color: #b02d2d;
        }
    }


    select, input, textarea{
        margin-bottom: 30px;
    }

    label{
        font-style: italic;
    }

    .rappel_form{
        color: #d72a2a;
        margin-right: 20px;
    }

    button{
        width: 100%;
    }
}



.supprimer_tache, .supprimer_tag{
    text-align: center;
    button{
        display: inline-block;
        width: fit-content;
        padding: 10px 50px;
    }
    button:nth-child(1){
        margin-right: 50px;
    }
}

.mini-div{
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 15px;
}


.rappel-infos{
    display: none;
}

.detail .line_3{
    display: none;
}




@media screen and (max-width: 700px) {
    .menu{
        overflow: hidden;
        width: 0%;
    }

    .page{
        width: 100%;
    }

    .liste_box{
        display: grid !important;
        grid-template-columns: repeat(1, 1fr) !important;
        gap: 10px;

        .row{
            height: 200px !important;
        }
        
    }
    .affichage{
        display: none;
    }
}