.contain{
    h2{
        color: #008AF4;
        margin-top: 20px;
    }

    #calendrier{
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }
}

.calendar {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .prev, .next {
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
  }
  
  .month-year {
    font-size: 18px;
    font-weight: bold;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  
  .day {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    transition: 0.2s ease all;
  }
  .day:hover{
    background-color: #008AF4;
    color: white;
    transition: 0.2s ease all;
  }
  
  .lu, .mar, .mor, .jou, .ven, .sam, .dim {
    background-color: #f0f0f0;
  }
  
  .lu {
    grid-column: 1;
  }
  
  .mar {
    grid-column: 2;
  }
  
  .mor {
    grid-column: 3;
  }
  
  .jou {
    grid-column: 4;
  }
  
  .ven {
    grid-column: 5;
  }
  
  .sam {
    grid-column: 6;
  }
  
  .dim {
    grid-column: 7;
  }

  .selected {
    background-color: #007bff; 
    color: #fff;
}

.date-info {
    margin-top: 10px;
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #0a0a0a;
}


.liste_box{
    margin-top: 2%;
    width: 100%;

    .row{
        background-color: white;
        border-radius: 10px;
        transition: 0.3s ease all;
        border: 2px solid transparent;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

        .part_1{
            transition: 0.3s ease;

            h6{
                font-weight: bold;
                font-size: 1.2em;
            }

            .tag{
                color: #A77800;
                background-color: #FFF0CA;
                display: inline-block;
                padding: 5px 10px;
                font-weight: normal;
                font-size: 0.7em;
                border-radius: 5px;
            }
        }

        .check{
            padding: 0px;
            width: 0%;
            overflow-x: hidden;
            transition: 0.3s ease all;
        }

        .i{
            margin-left: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            cursor: pointer;

            i{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .valider{
            color: white;
            background-color: #04C900;
        }
        .valider:hover{
            background-color: #028200;
        }

        .modifier{
            background-color: #E5E5E5;
            color: black;
        }
        .modifier:hover{
            background-color: #bdbdbd;
        }

        .supprimer{
            color: white;
            background-color: #EE5556;
        }
        .supprimer:hover{
            background-color:#b02d2d ;
        }

    }

    .row:hover{
        border: 2px solid #45B1FF;
    }
}

.liste{
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px; */
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        margin-bottom: 10px;
        height: 100px;
    }

    .part_1{
        width: 95%;

        .titre_tache{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tag{
                margin-left: 20px;
            }


            .infos_date{
                font-size: 0.8em;
                .rappel{
                    color: #C01D1E;
                    margin-right: 40px;

                    i{
                        margin-right: 10px;
                    }

                    .date_rappel{
                        display: inline-block;
                        margin-right: 10px;
                    }

                    .heure_rappel{
                        display: inline-block;
                        margin-left: 10px;
                    }
                }

                .date{
                    color: grey;
                }
            }
        }
    }

    .opt{
        width: 0%;
        height: 34px;
        overflow: hidden;
        transition: 0.3s ease;
        padding: 0px;

        
    }

    .row:hover{
        .part_1{
            width: 80%;
        }

        .opt{
            width: 15%;
        }
    }
}

.grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 200px;
    /* scale: 0.95; */

    .row{
        padding: 10px;
        width: 100%;
        height: 210px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tag{
        margin-left: 20px;
    }

    p{
        font-size: 0.9em;
    }

    .infos_date{
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .rappel{
            color: #C01D1E;
        }
        .date{
            color: grey;
        }
    }

    .opt{
        height: 0px;
        overflow: hidden;
        transition: 0.3s ease;
    }


    .row:hover{
        .opt{
            transition: 0.3s ease;
            height: 34px;
        }
    }
}