.entete_haut{
    transition: 0.5s ease all;
    overflow: hidden;
    height: 250px;
    /* border: 1px solid black; */
    
    h1{
        margin: 10px 0px;
    }

    .entete_options{
        display: flex;
        flex-direction: row;
        font-size: 0.9em;



        .search, .date_entete, .filtre_entete{
            background-color: white;
            border-radius: 10px;
            margin-right: 3%;
            overflow: hidden;
            border: 1px solid rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: row;
            
            input{
                font-size: 0.95em;
                padding: 10px 10px;
                border: none;
                width: 80%;
                background-color: transparent;
            }

            input:focus{
                outline: none;
            }

            div{
                width: 50px !important;

                i{
                    position: relative;
                    transform: translate(-50%, -50%);
                    top: 50%;
                    left: 50%;
                }
            }
        }

        .search{
            width: 40%;
        }

        .date_entete, .filtre_entete{
            width: 20%;
        }

        .filtre_entete div{
            width: 40px;
        }
    }


    .filtres{
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        height: 50px;
        /* border: 1px solid black; */
    }

    .one_filter{
        background-color: white;
        border-radius: 100px;
        padding: 5px 10px;
        display: inline-block;
        color: #0070C1;
        font-size: 0.9em;
        margin-right: 10px;
        transition: 0.2s ease;
        cursor: pointer;
        height: fit-content;

        i{
            margin-left: 10px;
            color: red;
        }

        i:hover{
            color: rgb(155, 0, 0);
        }
    }
    .one_filter:hover{
        background-color: #d2ecff;
        
        transition: 0.2s ease;
    }

    .drop{
        color: rgb(155, 0, 0);
        font-size: 0.9em;
        padding-top: 5px;
    }

    .drop:hover{
        color: rgb(190, 0, 0);
        cursor: pointer;
        text-decoration: underline;
    }
}


.plus{
    color: #0070C1;
    font-size: 1.3em;
}
.plus:hover{
    color: #005d9f;
    cursor: pointer;
}


.autres_details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 0.9em;
    width: 100%;

    h4{
        color: #0070C1;
        font-weight: bold;
    }

    span{
        color: grey;

        span{
            color: #005d9f;
            font-weight: bold;
        }
    }

    div:nth-child(2){
        display: flex;
        flex-direction: row;

        button{
            padding: 6px 10px;
            color: white;
            background-color: #0070C1;
            border-radius: 5px;
            border: none;
            height: fit-content;
            transition: 0.2s ease all;
        }

        button:hover{
            background-color: #005d9f;
            transition: 0.2s ease all;
        }


        .affichage{
            background-color: white;
            border-radius: 10px;
            margin-left: 20px;
            height: fit-content;
            padding: 6px 20px;

            i{
                margin: 0px 15px;
                color: grey;
                font-size: 1.3em;
                cursor: pointer;
                transform: translate(0%, 10%);
            }

            i:hover{
                color: #0070C1;
            }

            .active{
                color: #0070C1;
            }
        }
    }
    
}




._2, ._3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}





.liste_box{
    width: 100%;

    .row{
        background-color: white;
        border-radius: 10px;
        transition: 0.3s ease all;
        border: 2px solid transparent;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

        .part_1{
            transition: 0.3s ease;

            h6{
                font-weight: bold;
                font-size: 1.2em;
            }

            .tag{
                color: #A77800;
                background-color: #FFF0CA;
                display: inline-block;
                padding: 5px 10px;
                font-weight: normal;
                font-size: 0.7em;
                border-radius: 5px;
            }
        }

        .check{
            padding: 0px;
            width: 0%;
            overflow-x: hidden;
            transition: 0.3s ease all;
        }

        .i{
            margin-left: 10px;
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 100px;
            cursor: pointer;

            i{
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        .valider{
            color: white;
            background-color: #04C900;
        }
        .valider:hover{
            background-color: #028200;
        }

        .modifier{
            background-color: #E5E5E5;
            color: black;
        }
        .modifier:hover{
            background-color: #bdbdbd;
        }

        .supprimer{
            color: white;
            background-color: #EE5556;
        }
        .supprimer:hover{
            background-color:#b02d2d ;
        }

    }

    .row:hover{
        border: 2px solid #45B1FF;
    }
}

.liste{
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px; */
    
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
        margin-bottom: 10px;
        height: 100px;
    }

    .part_1{
        width: 95%;

        .titre_tache{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .tag{
                margin-left: 20px;
            }


            .infos_date{
                font-size: 0.8em;
                .rappel{
                    color: #C01D1E;
                    margin-right: 40px;

                    i{
                        margin-right: 10px;
                    }

                    .date_rappel{
                        display: inline-block;
                        margin-right: 10px;
                    }

                    .heure_rappel{
                        display: inline-block;
                        margin-left: 10px;
                    }
                }

                .date{
                    color: grey;
                }
            }
        }
    }

    .opt{
        width: 0%;
        height: 34px;
        overflow: hidden;
        transition: 0.3s ease;
        padding: 0px;

        
    }

    .row:hover{
        .part_1{
            width: 80%;
        }

        .opt{
            width: 15%;
        }
    }
}

.grille{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: 200px;
    /* scale: 0.95; */

    .row{
        padding: 10px;
        width: 100%;
        height: 210px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .tag{
        margin-left: 20px;
    }

    p{
        font-size: 0.9em;
    }

    .infos_date{
        font-size: 0.8em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        .rappel{
            color: #C01D1E;
        }
        .date{
            color: grey;
        }
    }

    .opt{
        height: 0px;
        overflow: hidden;
        transition: 0.3s ease;
    }


    .row:hover{
        .opt{
            transition: 0.3s ease;
            height: 34px;
        }
    }
}









.detail{
    width: 0%;
    background-color: transparent;
    transition: 0.5s ease all;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .fermer{
        background-color: #005d9f;
        color: white;
        padding: 10px 20px;
        float: right;
        border-radius: 5px;
        transition: 0.2s ease all;
        border: none;
        cursor: pointer;
    }
    .fermer:hover{
        background-color: #0070C1;
        transition: 0.2s ease all;
    }
    .line_1{
        background-color: rgb(246, 246, 246);
        border-radius: 10px;
        padding: 10px;
        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
        width: 60%;

        p{
            margin: 0;
            font-size: 0.9em;
        }
        .rappel-infos{
            color: #b02d2d;
            
            i{
                margin-right: 10px;
            }
            .date-rap{
                margin-right: 10px;
            }
            
            .heure-rap{
                margin-left: 10px;
            }
        }
        .date-infos{
            color: grey;
        }
    }

    .line_2{
        margin-top: 20px;

        p{
            margin-top: 30px;
        }
    }
    .line_3{
        margin-top: 17%;
        text-align: center;

        p{
            font-size: 1em;
            margin: 0;
        }

        span{
            font-size: 1.5em;
            font-weight: bold;
        }
        
    }

    .info-title{
        color: grey;
        font-size: 0.9em;
    }

    .tag{
        background-color: #FFF0CA;
        color: #A77800;
        padding: 5px 20px;
        border-radius: 5px;
        margin-left: 20px;
        display: inline-block;
        margin-bottom: 20px;
    }

    .titre-gros{
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }

    .box_2{
        width: 80%;
        button{
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            margin-right: 10px;
            cursor: pointer;
            transition: 0.3s ease all;
            i{
                margin-left: 10px;
            }
        }

        .effectuer_btn{
            background-color: #bcffba;
            color: #028200;
        }
        .modifier_btn{
            background-color: #dfdfdf;
        }
        .supprimer_btn{
            background-color: #ffa6a6;
            color: #b02d2d;
        }
        .effectuer_btn:hover{
            background-color: #41cc3c;
            color: black;
            transition: 0.3s ease all;
        }
        .modifier_btn:hover{
            background-color: #b3b3b3;
            transition: 0.3s ease all;
        }
        .supprimer_btn:hover{
            background-color: #c92626;
            color: white;
            transition: 0.3s ease all;
        }
    }
}





.add_tache, .modifier_tache{
    scale: 0.1;
    top: -40%;
    left: 40%;

    .date, .heure{
        display: inline-block;
        width: 35%;
        margin-right: 5px;
    }
}







.list-choix{
    background-color: white;
    display: none;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 10%;
    left: 80%;
    font-size: 0.9em;
    transition: 0.2s ease all;
    opacity: 0;

    li{
        list-style: none;
        padding: 10px 10px;
        width: 200px;
        cursor: pointer;
    }
    li:hover{
        background-color: rgb(220, 220, 220);
    }
}


.search_results{
    display: none;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease all;
    
    p{
        margin-top: 0px;
        font-weight: bold;
        color: grey;
    }
    span{
        padding: 10px;
        font-size: 0.9em;
    }
    span:hover{
        background-color: rgb(240, 240, 240);
        border-radius: 5px;
    }
}



