.contain{
    h2{
        color: #008AF4;
        margin-top: 20px;
    }

    .number{
        color: #008AF4;
        font-weight: bold;
    }

    .grille{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        .box{
            padding: 10px;
            
        }

        .row{
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
        }
    }
}


.row{
    background-color: white;
    border-radius: 10px;
    transition: 0.3s ease all;
    border: 2px solid transparent;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    .part_1{
        transition: 0.3s ease;

        h6{
            font-weight: bold;
            font-size: 1.2em;
        }

        .tag{
            color: #A77800;
            background-color: #FFF0CA;
            display: inline-block;
            padding: 5px 10px;
            font-weight: normal;
            font-size: 0.7em;
            border-radius: 5px;
        }
    }

    .check{
        padding: 0px;
        width: 0%;
        overflow-x: hidden;
        transition: 0.3s ease all;
    }

    .i{
        margin-left: 10px;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        cursor: pointer;

        i{
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .valider{
        color: white;
        background-color: #04C900;
    }
    .valider:hover{
        background-color: #028200;
    }

    .modifier{
        background-color: #E5E5E5;
        color: black;
    }
    .modifier:hover{
        background-color: #bdbdbd;
    }

    .supprimer{
        color: white;
        background-color: #EE5556;
    }
    .supprimer:hover{
        background-color:#b02d2d ;
    }

}

.row:hover{
    border: 2px solid #45B1FF;
}