.contain{
    h2{
        color: #008AF4;
        margin-top: 20px;
    }

    .number{
        color: #008AF4;
        font-weight: bold;
    }

    .grille{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .box{
            height: 90px;
            display: flex;
            flex-direction: row;
            transition: 0.2s ease;
            border: 2px solid transparent;
            border-radius: 10px;
            padding: 10px;
            background-color: white;
            box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.15);

            .img{
                width: 30%;

                .image{
                    border: 1px solid #b3b3b3;
                    border-radius: 6px;
                    height: 60px;
                    width: 60px;
                }
            }

            .libelle{
                width: 50%;

                span{
                    display: inline-block;
                    position: relative;
                    top: 50%;
                    transform: translate(0%, -50%);
                }
            }
            .opt{
                width: 0%;
                overflow: hidden;
                transition: 0.2s ease;

                span{
                    width: 30px;
                    height: 30px;
                    display: block;
                    margin-right: 10px;
                    border-radius: 100px;
                    margin-bottom: 5px;
                    cursor: pointer;
                    
                    i{
                        display: block;
                        position: relative;
                        width: 16px;
                        height: 16px;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }

                span:nth-child(1){
                    background-color: #dfdfdf;
                }
                span:nth-child(2){
                    background-color: #ffa6a6;
                    color: #b02d2d;
                }
                span:nth-child(1):hover{
                    background-color: #b3b3b3;
                    transition: 0.2s ease;
                }
                span:nth-child(2):hover{
                    background-color: #c92626;
                    color: white;
                    transition: 0.2s ease;
                }
                
            }
        }

        .box:hover{
            transition: 0.2s ease;
            border: 2px solid #008AF4;

            .opt{
                width: 15%;
            }
        }
    }
}


.add_tag, .modifier_tag{
    scale: 0.1;
    top: -40%;
    left: 40%;

    table{
        width: 100%;
    }
    .apercu label{
        display: block;
        margin-bottom: 5px;
    }

    .test{
        border-radius: 10px;
        border: 1px solid rgb(201, 201, 201);
        padding: 10px;
        margin-bottom: 50px;

        p{
            margin: 0;
        }
    }
}